.ui-datatable .ui-datatable-data .ui-datatable-empty-message .ui-datatable-header .ui-datatable-footer .ui-sortable-column .ui-sortable-column-icon .ui-expanded-row-content .ui-row-toggler .ui-editable-column  {
	background-image: url('./imagens/livros.jpg') !important;
}
		
h1 {
    color: #00ff00;
}