<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>AEL - Agradecimentos</title>
	<h:outputStylesheet library="css" name="teste.css" />
</h:head>
<h:body style="background-image: url('./imagens/livros.jpg')">
	<br />
	<h2>
		<span style="font-family: arial, helvetica, sans-serif;">AEL -
			Auxiliar de Empr&eacute;stimo de Livros</span>
	</h2>
	<br />
	<p:breadCrumb>
		<p:menuitem value="Home" outcome="index.xhtml/html" />
		<p:menuitem value="Clientes" outcome="cliente.xhtml/html" />
		<p:menuitem value="Livros" outcome="livro.xhtml/html" />
		<p:menuitem value="Empréstimos" outcome="emprestimo.xhtml/html" />
		<p:menuitem value="Agradecimentos" outcome="agradecimento.xhtml/html" />
	</p:breadCrumb>
	<br />
	<br />
	<br />

	<h:form>
		<p:fieldset legend="Obrigado!" style="margin-bottom:20px">
			<h:panelGrid columns="2" cellpadding="5">
				<!--  <p:graphicImage name="/imagens/garfield.jpg" /> -->
				<h:outputText value="" />
				<br />
					Agrademos por ter acessado o AEL - Auxiliar de
					Empr&eacute;stimos de Livros.<p>
					Esperamos ter satisfeito as expectativas e
					prop&oacute;sitos do projeto.</p>
			<br />

				<p>
					<span style="font-family: arial, helvetica, sans-serif;"><strong>Projeto
							de Conclus&atilde;o do&nbsp;2&ordm; Semestre de 2016 -
							Per&iacute;odo Tarde</strong></span>
				</p>
				<p
					style="margin: 10px 0px 0px 40px; padding: 0px; word-wrap: break-word; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
					<span style="font-family: arial, helvetica, sans-serif;">Laborat&oacute;rio
						de Engenharia</span>
				</p>
				<p
					style="margin: 10px 0px 0px 40px; padding: 0px; word-wrap: break-word; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
					<span style="font-family: arial, helvetica, sans-serif;">An&aacute;lise
						e Desenvolvimento de Sistemas</span>
				</p>
				<p
					style="margin: 10px 0px 0px 40px; padding: 0px; word-wrap: break-word; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
					<span style="font-family: arial, helvetica, sans-serif;">FATEC
						Zona Leste</span>
				</p>
				<p
					style="margin: 10px 0px 0px 40px; padding: 0px; word-wrap: break-word; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
				</p>
				<p
					style="margin: 10px 0px 0px; padding: 0px; word-wrap: break-word; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
					<span style="font-family: arial, helvetica, sans-serif;"><strong>Realizado
							por:</strong></span>
				</p>
				<ul
					style="margin: 10px 0px 0px; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
					<li style="word-wrap: break-word;"><span
						style="font-family: arial, helvetica, sans-serif;">FELIPE
							LIMA</span></li>
					<li style="word-wrap: break-word;"><span
						style="font-family: arial, helvetica, sans-serif;">FERNANDO
							MORAES OLVIEIRA</span></li>
					<li style="word-wrap: break-word;"><span
						style="font-family: arial, helvetica, sans-serif;">JESSICA
							CARNEIRO BATISTA</span></li>
				</ul>
				<p
					style="margin: 10px 0px 0px; padding: 0px; word-wrap: break-word; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
				</p>
				<p
					style="margin: 10px 0px 0px; padding: 0px; word-wrap: break-word; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
					<span style="font-family: arial, helvetica, sans-serif;"><strong>Professor:</strong></span>
				</p>
				<ul
					style="margin: 10px 0px 0px; color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);">
					<li style="word-wrap: break-word;"><span
						style="font-family: arial, helvetica, sans-serif;">Ant&ocirc;nio
							Rodrigues de Carvalho Neto</span></li>
				</ul>
			</h:panelGrid>
		</p:fieldset>
		</h:form>
</h:body>
</html>